.form-title {
    /* background: #416ce0 linear-gradient(180deg, #3b76c4, #416ce0) repeat-x; */
    background: #4c359e linear-gradient(180deg, #434cca, #4c359e) repeat-x;
}


.color-button-edit {
    /* background: #416ce0 linear-gradient(180deg, #3b76c4, #416ce0) repeat-x; */
    background: #362d86 linear-gradient(270deg, #483797, #362d86) repeat-x;
    color: rgba(231, 231, 240, 0.952);
}


.form-title-box {
    position: relative;
    padding: 0.75rem 1.25rem;
        padding-right: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}